<div id="{{ id }}" class="tabler-icon-field icon-picker">
    {{ hiddenInput(name ~ '[name]', value.name ?? '', { data: { name: true } }) }}
    {{ hiddenInput(name ~ '[variant]', value.variant ?? '', { data: { variant: true } }) }}

    <div class="icon-picker--icon" data-preview{% if value %} role="img" title="{{ value.label }}" aria-label="{{ value.label }}"{% endif %}>
        {%- if value %}{{ value.svg() }}{% endif -%}
    </div>

    <button type="button" class="btn" data-choose>{{ (value ? 'Change' : 'Choose')|t('tabler') }}</button>
    <button type="button" class="btn{% if not value %} hidden{% endif %}" data-remove>{{ 'Remove'|t('tabler') }}</button>
</div>
